# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log

# Django
*.sqlite3
*.db
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
.idea/

# Virtual Environment
venv/
env/
ENV/
.venv/

# VSCode (in case someone uses it too)
.vscode/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# dotenv
.env
.env.*

# Celery
celerybeat-schedule
celerybeat.pid

# Other
*.bak
*.swp